[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
webargs = "*"
extension = "*"
requests = "*"
marshmallow = "~=3.14.0"
Flask = "~=2.0.2"
Werkzeug = "~=2.0.2"
Flask-RESTful = "*"
"rpi.gpio" = "*"

[dev-packages]

[requires]
python_version = "3.6"
